<div id="home" class="row">
    <h2>JIRA Scrum board</h2>

    <p>
        <input ng-model="home.query" size="120">
        <button ng-click="home.doQuery()">Query</button>
    </p>
    <p>
        <h4>Query: {{home.query}}</h4>
        <div ng-repeat="issue in home.issueList" class="issue">
            <img src = "{{issue.icon}}">
            <a href="https://focustech.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
            {{issue.summary}}
            <div style="float: right">
            {{issue.assignee.displayName}} |
            {{issue.timeEstimate}}
            </div>
        </div>
    </p>
</div>
