<div id="home" class="row">
    <h2>JIRA Scrum board</h2>

    <p>
        <input ng-model="home.query" size="120">
        <button ng-click="home.doQuery()">Query</button>
        {{home.authenticated}}
    </p>
    <p>
        <h4>Query: {{home.query}}</h4>
        <accordion close-others="false">
            <accordion-group ng-repeat="issue in home.issueList" class="accordion-group {{(issue.type == '7') ? 'acc-story' : (issue.type == '6') ? 'acc-epic' : 'acc-task'}}">
                <accordion-heading>
                    <img src = "{{issue.icon}}">
                    <a href="https://focustech.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
                    {{issue.summary}}
                    <div style="float: right">
                    {{issue.assignee.displayName}} |
                    {{issue.timeEstimate}} |
                    {{issue.remEstimate}} |
                    {{issue.status}}
                    </div>
                </accordion-heading>
                <div>
                    <accordion close-others="false" >
                        <accordion-group ng-repeat="story in issue.children" class="{{(story.type == '7') ? 'acc-story' : (story.type == '6') ? 'acc-epic' : 'acc-task'}}" is-open="story.children.length>0">
                            <accordion-heading>
                                <img src = "{{story.icon}}">
                                <a href="https://focustech.atlassian.net/browse/{{story.key}}">{{story.key}}</a>
                                {{story.summary}}
                                <div style="float: right">
                                    {{story.assignee.displayName}} |
                                    {{story.timeEstimate}} |
                                    {{story.remEstimate}} |
                                    {{story.status}}
                                </div>
                            </accordion-heading>
                            <div ng-repeat="task in story.children" class="issue" is-open="true">
                                <img src = "{{task.icon}}">
                                <a href="https://focustech.atlassian.net/browse/{{task.key}}">{{task.key}}</a>
                                {{task.summary}}
                                <div style="float: right">
                                    {{task.assignee.displayName}} |
                                    {{task.timeEstimate}} |
                                    {{task.remEstimate}} |
                                    {{task.status}}
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </accordion-group>
        </accordion>
    </p>
</div>
